<div class="aboutcontent" ngController="AboutCtrl">
  <div ng-include src="'template/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>You know you've wanted to have felt but didn't know how?</h2>
      </div>
    </div>
  </div>
  <div class="image-holder ravelight">
    <img class="wideguy" src="./images/smiley_sad.jpg">
    <div class="inside-image light">
      <div class="container">
        <h2>1. Pick yr Disposition!</h2>
      </div>
    </div>
  </div>
  <div class="image-holder ravelight">
    <div class="inside-image">
      <div class="container">
        <h2>2. Tell us more about your internal roilings. Add a picture!</h2>
      </div>
    </div>
  </div> 
  <div class="image-holder">
    <img class="wideguy" src="./images/heatmap.jpg">
    <div class="inside-image">
      <div class="container">
        <h2>3. Explore the feelings of others. Pan! Scroll! Zoom!</h2>
      </div>
    </div>
  </div>

</div>