<div class="maincontent" ng-controller="aboutCtrl"> 
<ul class="about">
    <li>
        <h4>Roy<small>[PM]</small></h4>
        <p>most methodical </p>
        <img class="circle" src = "/images/avatars/blavatars-04.png"></img>
    </li>

    <li>
        <h4><a href="https://github.com/sleepylemur" target="_blank">Evan</a><small>[TECH Lead]</small></h4>
        <p> master of tango, testing & tandem affairs </p>
        <img class="circle" src = "/images/avatars/blavatars-06.png"></img>
    </li>

    <li>
        <h4><a href="http://colbysomerville.com/" target="_blank">Colby</a><small>[TECH]</small></h4> 
        <p> map magician - code compactor - gulp guru </p>
        <img class="circle" src = "/images/avatars/blavatars-02.png"></img>
    </li>

    <li>
        <h4><a href="http://qiaoclin.com/" target="_blank">Qiao</a><small>[TECH UI]</small></h4>
        <p> animation, aesthetics, anything fly </p>
        <img class="circle" src = "/images/avatars/blavatars-03.png"></img>
    </li>

    <li>
        <h4><a href="https://github.com/Nbutter" target="_blank">Nick</a><small>[TECH]</small></h4>
        <p>NODE NUTButter | continous integration </p>
        <img class="circle" src = "/images/avatars/blavatars-07.png"></img>
    </li>


    <li> 
        <h4>Rouhan<small>[UX]</small></h4> 
        <p>charitable soul</p>
        <img class="circle" src = "/images/avatars/blavatars-05.png"></img>
    </li>
</ul>


<div ng-include src="'template/navbar.html'"></div>
</div>