<div class="maincontent" ng-controller = "feedHotCtrl">
  <ul id = "feed" class="feedList">
    <li class="feedRow" ng-repeat="feed in feeds">
      {{feed.numvotes}}
      <button ng-hide="votes[feed.id]" ng-click="voteService.addVote(feed.id)">upvote</button>
      <div class="feedTextPane" ng-click="loadDetail(feed.id)">
        <div class="feedLine">
          <span class="feedLabel {{feed.emotion}}colorlight">who</span>
          <span class="feedText">{{feed.username}}</span>
        </div>
        <div class="feedLine">
          <span class="feedLabel {{feed.emotion}}colorlight">when</span>
          <span class="feedText">{{feed.timestamp | fromNow}}</span>
        </div>
        <div class="feedLine">
          <span class="feedLabel {{feed.emotion}}colorlight">where</span>
          <span class="feedText">{{feed.location_name}}</span>
        </div>
        <div class="feedLine">
          <span class="feedLabel {{feed.emotion}}colorlight">message</span>
          <span class="feedText">{{feed.message}}</span>
        </div>
      </div>
      <div class="feedImagePane" ng-click="loadDetail(feed.id)">
        <div class='feedImageBox' style="display: inline-block">
          <image ng-src="{{feed.image_url}}" width="120" height="120">
        </div>
      </div>
    </li>
  </ul>

  <nav class="navbar bottomfixed">
    <ul class="navlist" id = "nav_items">
      <li><a href= "#/map">MAP</a></li>
      <li><a href= "#/feedNew">NEW</a></li>
    </ul>
  </nav>
</div>
