<div class="feedcontent" ng-controller = "feedNewCtrl">

  <ul id="feedToggleBar" class="topfixed tabs center" tabs>
    <li class="tab"><a href="#/feedHot">trending</a></li>
    <li class="tab"><a class="active" href="#/feedNew">new</a></li>
  </ul>

  <ul class="feedList">
    <li class="feedRow pointer-on-hover" ng-repeat="feed in feeds track by $index" ng-click="loadDetail(feed.id)">
      <div class="listVote">
        <i ng-hide="votes[feed.id]" class="votebutton {{feed.emotion}}color waves-effect icon-large ion-ios-bolt" ng-click="voteService.addVote(feed.id); $event.stopPropagation()"></i>
        <i ng-show="votes[feed.id]" class="votebutton {{feed.emotion}}colorlight icon-large ion-ios-bolt"></i>
        {{feed.numvotes}}
        <small> strikes </small>
      </div>
      <div class="feedMessage">
          <div class="{{feed.image_url ? 'truncatedText' : ''}} {{feed.emotion}}color">{{feed.message}}</div>
          <image ng-hide="{{feed.image_url == null}}" ng-src="{{feed.image_url}}"/>
          <p><a class="pointer-on-hover" ng-click="goToMap(feed.id); $event.stopPropagation()"><i class = "icon ion-android-locate"></i> {{feed.location_name}} </a> <i class= "icon ion-android-time"></i>{{feed.timestamp | fromNow}}</p>
      </div>
    </li>
  </ul>

  <div ng-include src="'template/navbar.html'"></div>
</div>
