<div class='animcontainer' controller="LandingCtrl">
  <object type="image/svg+xml" data="/images/logoLarge.svg" max-width="80%"></object>
  <div class='animcenterer'>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="tear" type="image/svg+xml" data="../svg/rains.svg"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="puddle"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-04.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-03.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-04.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-03.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-02.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-04.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-03.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-04.svg"></object>
    <object class="cloud" type="image/svg+xml" data="../svg/sad-02.svg"></object>
  </div>

  <div class="manhattanblock">
    <object id="manhattan" type="image/svg+xml" data="../svg/grey_manhattan.svg"> manhattan block </object>
  </div>
</div>
