<form class="container col s10 m8 l6" ng-controller = "LoginCtrl" auto-complete = "off" ng-submit="submit()">

  <div class="input-field col s6">
  	<label for ="email"><i class = "icon ion-email"></i> email </label>
  	<input type = "text"  class="validate" id = "email" ng-model = "user.email">
  </div>

  <div class="input-field col s6">
  	<label for ="password"><i class = "icon ion-lock-combination"></i> password </label>
  	<input type = "password" class="validate" id = "password" ng-model = "user.password">
  </div>

   <button type='submit' id="login" class="waves-effect waves-light btn right">login</button>

  <fb:login-button scope="public_profile,email" ng-click="checkLoginState()">
  </fb:login-button>

  first time? <a href = "/#signup">let it out ~~~</a>

</form>
