<div class="maincontent" ng-controller="MapCtrl">
  <div id="map-canvas"></div>

  <nav class="navbar bottomfixed">
    <ul class="navlist" id = "nav_items">
      <!-- <li><a href="#/feedNew"><i class="small icon ion-ios-flask"></i></a></li>
      <li><a ng-click="newPost()"><i class = "small icon ion-paper-airplane"></i></a></li> -->
      <li><a href="#/feedHot">HOT</i></a></li>
      <li><a ng-click="newPost()">POST</i></a></li>
      <li><a href="#/feedNew">NEW</i></a></li>
      <!-- <li><a href= "#/map"><i class = "active small icon ion-map"></i></a></li> -->
    </ul>
  </nav>

  <div id="modalPostDetail" class="modal bottom-sheet">
    <div class="modal-content detailModalContent">
      <div class="detailModalTextPane">
        <div class="detailModalEmotion {{emotiondata.emotion}}color">{{emotiondata.emotion}}</div>
        <div>
          {{emotiondata.numvotes}}
          <button ng-hide="votes[emotiondata.id]" ng-click="voteService.addVote(emotiondata.id)">upvote</button>
        </div>
        <div class="detailModalLabel {{emotiondata.emotion}}colorlight">who</div>
        <div class="detailModalText">{{emotiondata.username}}</div>
        <div class="detailModalLabel {{emotiondata.emotion}}colorlight">when</div>
        <div class="detailModalText">{{emotiondata.timestamp | fromNow}}</div>
        <div class="detailModalLabel {{emotiondata.emotion}}colorlight">where</div>
        <div class="detailModalText">{{emotiondata.location_name}}</div>
        <div class="detailModalLabel {{emotiondata.emotion}}colorlight">message</div>
        <div class="detailModalText">{{emotiondata.message}}</div>
      </div>
      <div class="detailModalImagePane">
        <div class="imagebox">
          <image id="imagepreview" ng-src="{{emotiondata.image_url}}" width="160" height="160">
        </div>
      </div>
    </div>
  </div>

  <div id="modalNewPost" class="modal bottom-sheet">
    <div class="modal-content postmodalcontent">
        <form ng-submit="submitNewPost()">
            <div class="postmodalform">
              <div class="switch">
                <label>
                  <span class="deep-orange-text">Rant</span>
                  <input id="rantrave" type="checkbox" ng-model="post.rantrave">
                  <span class="lever"></span>
                  <span class="teal-text">Rave</span>
                </label>
              </div>
              <div class="input-field">
                <label for="location_name">location nickname</label>
                <input id="location_name" type="text" ng-model="post.location_name">
              </div>
              <div class="input-field">
                <label for="message">message</label>
                <textarea id="message" class="materialize-textarea" ng-model="post.message"></textarea>
              </div>
              <button class="btn {{post.rantrave ? 'teal' : 'deep-orange'}} waves-effect waves-light" type="submit" name="action">
                {{post.rantrave ? "rave" : "rant"}}
              </button>
            </div>
            <div class="postmodalimagepane">
              <div class="imagebox">
                <image id="imagepreview" ng-src="{{post.image_url}}" width="160" height="160">
              </div>

              <div class="btn {{post.rantrave ? 'teal' : 'deep-orange'}} imageuploadbutton waves-effect waves-light" ng-click="fileDialog()">
                <span>upload</span>
                <input id="filepicker" type="file" onchange="angular.element(this).scope().uploadFile()" style="position:absolute;left:-9999px">
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
