<div class="bottomfixed" ng-show="location != '/#/login'">
  <ul class="navlist">
    <li><a href= "#/map"><i class = "small icon ion-map"></i><br><small>map</small></a></li>

    <li><a href="#/feedNew"><i class="small icon ion-ios-flask"></i><br><small>feed</small></a></li>

    <li class="cta"><a ng-click="newPost()"><i class = "small icon ion-paper-airplane"></i><br><small>post</small></a></li>
    
    <li><a href="#/profile"><i class= "small icon ion-ios-paw"></i><br><small>profile</small></a>

    <li><a href= "#/about"><i class="small icon ion-ios-glasses"></i><br><small>info</small></a></li>
  </ul>
</div>