<form class="col s12" ng-controller="newPostCtrl" ng-submit="submit()">
  <p>
    <input class="with-gap" type="radio" id = "happy" ng-model = "post.emotion" value = "rave"/>
    <label for="happy"> <i class = "icon ion-happy-outline"></i> rave 🙌</label>
    <input class="with-gap" type="radio" id = "sad" ng-model = "post.emotion" value = "rant"/>
    <label for="sad"> <i class = "icon ion-sad-outline"></i> rant 😱</label>
  </p>

  <div class = "input-field col s6">
  <textarea id="message" class="materialize-textarea" ng-model = "post.message" ng-minlength="10" ng-maxlength="100" length="100"></textarea>
  <label for ="message"><i class = "icon ion-leaf">message</i></label>
  </div>

  <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left"></i>post</button>
</form>
