<div class="maincontent" ng-controller = "postCtrl">
  <div class="postContent">
    <div class = "postAuthor">
      <a ng-click= "fetchProfile(post.user_id)" class="{{post.emotion}}Hover">{{post.username}}</a>
      <image ng-src="{{post.avatar_image_url}}"/>
      <p><i class= "icon ion-android-time"></i> {{post.timestamp | fromNow}}</p>
    </div>


    <div class = "postMessage">
      <image class="{{post.emotion}}Border postImage" ng-show="post.image_url" ng-src="{{post.image_url}}">
      <div class="{{post.emotion}}color">{{post.message}}</div>
      <a ng-click="goToMap(post.id)"><i class = "icon ion-android-locate"></i> {{post.location_name}} </a>
      <i ng-hide="votes[post.id]" class="votebutton {{post.emotion}}color waves-effect icon-large ion-ios-bolt" ng-click="voteService.addVote(post.id)"></i>
      <i ng-show="votes[post.id]" class="votebutton {{post.emotion}}colorlight icon-large ion-ios-bolt"></i> {{post.numvotes}}
        strikes
    </div>
  </div>
  <div ng-include src="'template/navbar.html'"></div>
</div>
