<div class= "main-content" ng-controller="profileCtrl">
  <div ng-hide="check" class="houseKeeping"> 
    <button ng-click="signOut()"  class="btn-floating"><i class = "small icon ion-log-out"></i>logout</button>
    <button ng-click="editProfile()"  class="btn-floating"><i class = "small icon ion-edit"></i>edit Profile</button>
  </div>
        
  <div class = "profile_content">
    <img src="{{profile.avatar_image_url}}"></img>
    <h3> {{profile.username}}</h3>

    <ul class="postList">
      <li class="postRow" ng-repeat="post in posts">
        <small><i class = "icon ion-android-locate"></i> {{post.location_name}}  | <i class= "icon ion-android-time"></i>{{post.timestamp | fromNow}}</small>
        <div class="postMessage {{post.emotion}}ON" ng-click="loadDetail(post.id)">
            <img ng-hide="{{post.image_url == null}}" ng-src="{{post.image_url}}"/>
            <div>{{post.message}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div ng-include src="'template/navbar.html'"></div>
</div>
