<div class= "maincontent" ng-controller="profileCtrl">
  <div ng-hide="check" class="profileButtons">
    <button ng-click="signOut()"  class="btn-flat">logout</button>
    <button ng-hide="editMode" ng-click="editMode = true"  class="btn-flat">edit Profile</button>
    <button ng-show="editMode" ng-click="cancelEdit()"  class="btn-flat">cancel</button>
    <button ng-show="editMode" ng-click="submitEdit()"  class="btn-flat">save changes</button>
  </div>

  <div class = "profile_content">
    <img ng-hide="editMode" src="{{profile.avatar_image_url}}"></img>
    <form class="avatarEditBox" ng-click="fileDialog()" ng-show="editMode" autocomplete="off" novalidate>

      <div class="imagebox" ng-show="profileEdit.avatar_image_url">
        <img id="avatarimagepreview" ng-src="{{profileEdit.avatar_image_url}}"></img>
      </div>
      <div class="btn-flat">
        change avatar image
        <input id="avatarfilepicker" type="file" onchange="angular.element(this).scope().uploadFile()" style="position:absolute;left:-9999px">
      </div>
    </form>
    <div ng-hide="editMode">
      <h3> {{profile.username}}</h3>
      <h3> {{profile.email}}</h3>
    </div>
    <form ng-show="editMode">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <label class="active">username</label>
          <input name="username" type="text" ng-model="profileEdit.username"><br>
        </div>
      </div>
      <div class='row'>
        <div class="input-field col s12 m6 offset-m3">
          <label class="active">email</label>
          <input name="email" type="text" ng-model="profileEdit.email">
        </div>
      </div>
    </form>

    <ul class="postList">
      <li class="postRow {{post.emotion}}ON" ng-repeat="post in posts">
        <small><span ng-click="goToMap(post.id)"><i class = "icon ion-android-locate"></i> {{post.location_name}}</span> | <i class= "icon ion-android-time"></i> {{post.timestamp | fromNow}}</small>
        <div class="postMessage" ng-click="loadDetail(post.id)">
          <img ng-hide="{{post.image_url == null}}" ng-src="{{post.image_url}}"/>
          <div>{{post.message}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div ng-include src="'template/navbar.html'"></div>

</div>
