<form class="container col s10 m8 l6" ng-controller = "SignUpCtrl" autocomplete="off" novalidate>

  <div class="input-field col s6 m6 l6">
	  <label for ="username"><i class = "icon ion-umbrella"></i> username </label>
	  <input type = "text"  id="username" ng-model="user.username"  ng-change="usernameerror = ''">
    <div class="formerror">{{usernameerror}}</div>
  </div>

  <div class="input-field col s6 m6 l6">
  	<label for ="email"><i class = "icon ion-email"></i> email </label>
  	<input type = "text"  id="email" ng-model="user.email" ng-change="emailerror = ''" ng-blur="validateEmail()">
    <div class="formerror">{{emailerror}}</div>
  </div>

  <div class="input-field col s6 m6 l6">
  	<label for ="password"><i class = "icon ion-lock-combination"></i> password </label>
  	<input type = "password" id="password" ng-model="user.password" ng-change="validatePassword()" ng-blur="passwordblur = true;validatePassword()">
    <br>
  	<label for ="confirm password"><i class = "icon ion-lock-combination"></i> password </label>
  	<input type = "password" id="confirmpassword" ng-model="user.confirmpassword" ng-change="validatePassword()" ng-blur="confirmblur = true;validatePassword()">
    <div class="formerror">{{passworderror}}</div>
  </div>

  already Rrrar? <a class="waves-effect waves-light" href = "/#login">login</a>
   <a class="waves-effect waves-light btn right" ng-click ="signUp()">join</a>

</form>
