<form class="container col s10 m8 l6" ng-controller = "SignUpCtrl" autocomplete="off">

  <div class="input-field col s6">
	  <label for ="username"><i class = "icon ion-umbrella"></i> username </label>
	  <input type = "text"  class="validate" id = "username" ng-model = "user.username">
  </div>

  <div class="input-field col s6">
  	<label for ="email"><i class = "icon ion-email"></i> email </label>
  	<input type = "email"  class="validate" id = "email" ng-model = "user.email">
  </div>

  <div class="input-field col s6">
  	<label for ="password"><i class = "icon ion-lock-combination"></i> password </label>
  	<input type = "password" class="validate" id = "password" ng-model = "user.password">
  </div>
  already Rrrar? <a class="waves-effect waves-light" href = "/#login">login</a>
   <a class="waves-effect waves-light btn right" ng-click ="signUp()">join</a>
</form>
