$ravecolor : #ffd54f;
$ravecolorlight : #ffecb3;
$rantcolor : #3f51b5;
$rantcolorlight : #7986cb;

.rantcolor {
  color: $rantcolor;
}
.ravecolor {
  color: $ravecolor;
}
.rantBorder{
  border: solid .1em $rantcolorlight; 
}
.rantcolorlight {
  color: $rantcolorlight;
}
.ravecolorlight {
  color: $ravecolorlight;
}
.raveBorder{
  border: solid .1em $ravecolorlight; 
}
h1, h2, h3, h4, h5, h6{
  font-family: quantum mechanics
}
#nav-items{
    margin: auto;
}
.formerror {
  color: red;
}

/* label color */
 .input-field label {
   color: #aaaaaa;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #60AFFE;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #cccccc;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #cccccc;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

.postmodalcontent {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.postmodalform {
  text-align: center;
  margin: 0px calc(10% + 140px) 0px 0px;
  padding: 0px 0px;
}
.postmodalimagepane {
  position: absolute;
  right: 5%;
  top: 40px;
}
.imagebox {
  border: solid 1px rgba(51, 51, 51, 0.12);
  width: 10em;
  height: 10em;
}
.imageuploadbutton {
  width: 10em;
}
.icon-large{
  font-size: 3.5em;
  // gainsboro svg gray
}
.feedList{
  top: 128px;
  margin: auto;
  position: relative;
}
.feedRow {
  min-width: 25em;
  max-height: 15em;
  display: inline-block;
  position: relative;
  border-bottom: solid 1px rgba(51, 51, 51, 0.12);
  box-sizing: border-box;
}
.truncatedText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.feedMessage{
  display: inline-block;
  max-width: 20em;
  margin: 1em;
  margin-left: 2em;
  div{
    font-size:1em;
    margin-bottom: 1em;
  }
  img{
    padding:.5em;
    height: 10em;
  }
  p{
    bottom:.5em;
    font-size: .8em;
  }
}
.listVote{
  text-align: center;
  margin: auto;
  display: inline-block;
  width:4em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.detailModalContent {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.detailModalTextPane {
  margin: 0px calc(10% + 140px) 0px 0px;
  min-height: 200px;
}
.detailModalImagePane {
  width: 10em;
  height: 10em;
  position: absolute;
  right: 5%;
  top: 40px;
}
.detailModalEmotion {
  text-align:center;
  font-size: 2em;
}
.detailModalLabel {
  margin-top: .7em;
}
.detailModalText {
  font-size: 1.2em;
}

html,body {
  height: 100%;
}
.maincontent {
  height: calc(100% - (4em + 4em));
}
#map-container {
  height: calc(100% - (64px + 64px));
  display: none;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

header {
  height: 64px;
  position: fixed;
  transition: top .2s linear;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: white;
  .title {
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}


.topfixed{
  position: absolute;
  transition: top .2s linear;
  top: 40px;

  position: fixed; 
  background-color: white; 
  z-index: 10; 
}
.bottomfixed{
  position: fixed;
  bottom: 0;
  background-color: $rantcolor;
  width: 100%;
}
.navlist{
  // line-height: 2;
  margin: 0;
  width: 100%;
  text-align:center;
  li {
    display: inline-block;
    box-sizing: border-box;
    width: 5em;
  }
  li:hover {
    background-color: pink;
    transition: .2s;
  }
  .icon{
    color:white;
  }
  small{
    position: relative;
    color:white;
    top:-1em;
  }
}
.cta{
  background-color: $ravecolorlight; 
  .icon, small{
    color: $rantcolor;
  }
}