$ravecolor : #ffd54f;
$ravecolorlight : #ffecb3;
$rantcolor : #3f51b5;
$rantcolorlight : #7986cb;
.rantBG{
  background-color: $rantcolor;
}
.raveBG{
  background-color: $ravecolor;
}
.rantON:hover{
  color:white;
  background-color: $rantcolor;
}
.raveON:hover{
  background-color: $ravecolorlight;
}
.rantcolor {
  color: $rantcolor;
}
.ravecolor {
  color: $ravecolor;
}
.rantBorder{
  border: solid 1em $rantcolorlight;
}
.raveBorder{
  border: solid 1em $ravecolorlight;
}
.rantHover:hover{
  color: $rantcolor;
}
.raveHover:hover{
  color: $ravecolor;
}
.rantcolorlight {
  color: $rantcolorlight;
}
.ravecolorlight {
  color: $ravecolorlight;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Quicksand', sans-serif;
}
#nav-items{
    margin: auto;
}
.formerror {
  color: red;
}

/* label color */
 .input-field label {
   color: #aaaaaa;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #60AFFE;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #cccccc;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #cccccc;
   box-shadow: 0 1px 0 0 #cccccc;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

.postmodalcontent {
  position: relative;
  max-width: 800px;
  margin: auto;
  height: 100%;
}
.postmodalform {
  text-align: center;
  padding: 1em;
}
.postmodalimagepane {
  position: relative;
  right: 5%;
}
.imagebox {
  width: 161px;
  height: 161px;
  margin: auto;
}
.imageuploadtab {
  margin: auto;
  max-width: 161px;
  margin-top: 20px;
  display: block;
  transition: .5s background;
  transition: .5s color;
}
#imagepreview{
  max-width: 90%;
  max-height: 200px;
}
.ranthover:hover{
  background: $rantcolor;
  color: white;
}
.ravehover:hover{
  background: $ravecolor;
}
.icon-large{
  font-size: 3.5em;
  // gainsboro svg gray
}
.feedList{
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
}
.feedRow {
  vertical-align: middle;
  max-width: 90%;
  width: 25em;
  display: inline-block;
  position: relative;
  border: solid 1px rgba(51, 51, 51, 0.12);
  box-sizing: border-box;
  margin: 1em;
}
.truncatedText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.votebutton {
  z-index: 12;
}
.feedMessage{
  position: relative;
  display: inline-block;
  max-width: 80%;
  left: 4em;
  div{
    font-size:1em;
    margin-top: 1em;
  }
  img{
    padding:.5em;
    height: 10em;
  }
  p{
    margin: 0;
    bottom:.2em;
    font-size: .8em;
  }
}
.listVote{
  color: #aaaaaa;
  position: absolute;
  top:50%;
  text-align: center;
  display: inline-block;
  width:4em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  small{
    position: relative;
    top:-2em;
  }
}
.postContent{
  position: relative;
  width: 80%;
  margin: auto 10%;
}

.postAuthor{
  a{
    border-bottom: solid 1px #cccccc;
    font-size: 2em;
    color:#aaaaaa;
  }
  img{
    width: 20%;
    max-width: 8em;
    float: right;
  }

  p{
    display: inline-block;
    margin-top:0;
    color:#cccccc;
  }
}
.postMessage{
  margin: 2em;

  .postImage{
    max-width: 90%;
  }
}
.detailModalContent {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.detailModalTextPane {
  margin: 0px calc(10% + 140px) 0px 0px;
  min-height: 200px;
}
.detailModalImagePane {
  width: 10em;
  height: 10em;
  position: absolute;
  right: 5%;
  top: 40px;
}
.detailModalEmotion {
  text-align:center;
  font-size: 2em;
}
.detailModalLabel {
  margin-top: .7em;
}
.detailModalText {
  font-size: 1.2em;
}

html,body {
  height: 100%;
}
.feedcontent {
  position:relative;
  top: 80px;
  margin-bottom: 64px;
}
.aboutcontent{
  position:relative;
  top: 100px;
  margin-bottom: 64px;
}
.maincontent {
  position:relative;
  top: 40px;
  height: calc(100% - (64px + 40px));
  overflow: scroll;
}
#map-container {
  position: absolute;
  z-index: 1;
  top: 40px;
  height: calc(100% - (64px + 40px));
  width: 100%;
}
.maphide {
  left: -9999px;
}
.mapshow {
  left: 0;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

header {
  height: 40px;
  position: fixed;
  transition: top .2s linear;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: white;
  text-align: center;
  .title {
    background: white;
    position: absolute;
    top:4px;
    left: calc(50% - 55px);
    height: 36px;
  }
}


.topfixed{
  position: absolute;
  transition: top .2s linear;
  top: 40px;

  position: fixed;
  background-color: white;
  z-index: 10;
}
.bottomfixed{
  position: fixed;
  bottom: 0;
  background-color: $rantcolor;
  width: 100%;
}
.navlist{
  margin: 0;
  width: 100%;
  text-align:center;
  li {
    display: inline-block;
    box-sizing: border-box;
    max-width: 5em;
    width: 19%;
  }
  .selected {
    background-color: $rantcolorlight;
  }
  li:hover {
    background-color: $rantcolorlight;
    transition: .2s;
  }
  .icon{
    color:white;
  }
  small{
    position: relative;
    color:white;
    top:-1em;
  }
}
.cta{
  background-color: $ravecolorlight;
  .icon, small{
    color: $rantcolor;
  }
}
.option{
  padding: .2em;
  transform:translateY(50%);
}

.popOut{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  color:white;
  background-color: black;
}
.profileButtons{
  position: fixed;
  right:1em;
  button{
    float: right;
    top:40px;
    background-color: $rantcolor;
    z-index: 1000;
    margin: .2em;
  }
}
.image-holder{
  height: 400px;
  z-index: -1;
  position: relative;
  overflow: hidden;
  .wideguy {
    width: 100%;
    height: auto;
  }
}
.light {
  color: $rantcolorlight;
}
.ravelight {
  background-color: $rantcolorlight;
}
.inside-image {
  width: 100%;
  position: absolute;
  bottom: 10%;
}
@media (max-width: 850px) {
  .inside-image {
    top: 10%;
  }
  .wideguy {
    min-height: 400px;
  }
}
.profile_content{
  text-align: center;
  margin: auto;
  img{
    max-width: 90%;
  }
  small{
    border-bottom: solid 1px #cccccc;
    position: relative;
    top:2em;
  }
}

.about{
  margin: 0 auto;
  h3{
    margin: 0;
    padding: 0;
  }
  small{
    font-size: .3em;
  }
  li{
    border-bottom: dashed 1px #cccccc;
    list-style: none;
    display: inline-block;
    width: 25em;
    text-align: center;
  }
  a:hover{
    background-color: pink;
  }
  img{
    max-width: 8em;
  }
}
